

<div class="container">
  <h1> <%=@contact.id%>번 contact 입니다.</h1>

  <h2>제목 :<%= @contact.email%></h2>
  <h2>내용 : <%= @contact.content%></h2>
  <hr>

  <h3><a href="/contact/admincontact">목록으로가기</a></h3>
</div>
