
<section class="contact-logo">
  <p class="contact-title" style="color: #ff7f00">멋쟁이</p>
<div class="contact-typewriter">
    <h1 class="contact-title"><div id="mytext" ></div></h1>
</div>
  <p class="contact-title" style="color: #FFBF00">처럼</p>
</section>

<blockquote class="contact-blq">

           <h3>Contact with CAU-lion</strong></h3>
</blockquote>
<% if current_user != nil and current_user.roles.last.name == "admin" %>
  <div class="app-template">
    <h1>contact us로 연락한 사람들의 연락내역을 확인하게 됩니다.</h1>
    <%= link_to 'Show contact', contact_admin_path, class: "btn btn-outline-warning" %>
  </div>
<% else %>

  <div class="app-template">
    <form action="/contact/create" method="post">

        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="email" class="form-control col-4" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </br>
          <label for="exampleFormControlTextarea1">내용</label>
          <textarea class="form-control" name="content" rows="100"></textarea>
        </div>

        <button type="submit" class="btn btn-outline-warning">제출하기</button>
    </form>
  </div>

<% end %>
