
  <section class="home-logo">
    <div class="home-typestyle">
      <pre id="typewriter">
            <span class="home-var-highlight">var</span> likelion = {
                name: <span class="home-string-highlight">'You'</span>,
                type: <span class="home-string-highlight">'Programmer'</span>,
                location: <span class="home-string-highlight">'ChungAng University'</span>,
                properties:[<span class="home-string-highlight">'Anyone'</span>,
                            <span class="home-string-highlight">'Passion'</span>,
                            <span class="home-string-highlight">'Possible'</span>];
            };
        </pre>
    </div>
  </section>


  <section class="home-about">
      <div class="container py-5">
        <div class="wrapper">
          <header class="about-header">
            <h2 class="about-category">WHAT WE DO</h2>
            <hr>
            <h2 class="about-title py-5">CHANGE THE WORLD WITH CODING!</h2>
            <p class="about-content">기술적 장벽 때문에 자신의 생각을 실현하실 수 없던 모든 중앙대 학우분들과 함께 도전을 해 나갈 순간을 만들고 싶습니다.</p> <br>
            <p style="text-align: right;">-멋쟁이 사자처럼 중앙대학교-</p>
          </header>
          <article class="about-items py-5">
            <div class="row">
              <div class="col-md-4">
                <h4>스터디</h4>
                <p>코딩이 처음이셔도 상관없습니다. 차근차근 배우면서 다함께 성장하는것이 목표입니다.</p>
              </div>
              <div class="col-md-4">
                <h4>CAU해커톤</h4>
                <p>[기획 + 개발 + 런칭]을 하루만에..! 열심히 쌓은 실력을 해커톤에 쏟아봅시다.</p>
              </div>
              <div class="col-md-4">
                <h4>네트워킹</h4>
                <p>학교 내 사람들 뿐만 아니라 연합세미나를 진행하며 학교간 교류도 활발히 진행합니다.</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section id="events">
    	<div class="container py-5">
    		<h1>CAU-LION WORKS</h1>
    		<hr>
    		<div class="card-deck-wrapper">
    			<div class="card-deck">
    				<div class="card my-4" style="width: 100%;">
    					<img class="card-img-top" src="" width="100%" style="background-size:cover; " alt="Card image cap">
    					<div class="card-body">
    						<h4 class="card-title">스마트폰 스쿨</h4>
    						<h6 class="card-subtitle mb-2 text-muted">블라블라블라</h6>
    						<p class="card-text">오지고 지리고 레릿고</p>
    					</div>
    				</div>
    				<div class="card my-4" style="width: 100%;">
    					<img class="card-img-top" src="./assets/naver.jpeg" width="100%" style="background-size:cover; " alt="Card image cap">
    					<div class="card-body">
    						<h4 class="card-title">아마추어 스튜디오</h4>
    						<h6 class="card-subtitle mb-2 text-muted">블라블라블라</h6>
    						<p class="card-text">오지고 지리고 레릿고</p>
    					</div>
    				</div>
    			</div>
    		</div>

    		<div class="card-deck-wrapper">
    			<div class="card-deck">
    				<div class="card my-4" style="width: 100%;">
    					<img class="card-img-top" src="./assets/hackathon.jpeg" width="100%" style="background-size:cover;" alt="Card image cap">
    				  <div class="card-body">
    				    <h4 class="card-title">한국철봉</h4>
    				    <h6 class="card-subtitle mb-2 text-muted">블라블라블라</h6>
    				    <p class="card-text">나시티의 참치형 어디감?</p>
    					</div>
    				</div>
    				<div class="card my-4" style="width: 100%;">
    					<img class="card-img-top" src="./assets/ideathon.jpeg" width="100%" alt="Card image cap">
    				  <div class="card-body">
    				    <h4 class="card-title">what's next?</h4>
    				    <h6 class="card-subtitle mb-2 text-muted">만들어보아요</h6>
    				    <p class="card-text">캬캬캬캬컄캬캬</p>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>



<section id="managers">
   <div class="container text-center py-5">
      <h1 style="font-family: 'Quicksand', sans-serif;">CAU-LION MANAGERS</h1>
      <hr>
      <div class="row align-items-center">
         <div class="col-md-4 my-4">
            <div class="home-card" id="민경">
              <img class="home-card-img-top" src="/assets/img/download.png" alt="Card image cap">
              <div class="home-card-body">
                <span style="float: none;" class="badge badge-pill badge-warning">회장님</span>
                <h5 class="home-card-title">강민경</h5>
                <p class="home-card-text">응용통계학과 18</p>
                <div class="home-card-slogan">
                  <p>"다비치가 부릅니다.8282"</p>
                </div>
              </div>
            </div>

         </div>
         <div class="col-md-4 my-4">
            <div class="home-card">
              <img class="home-card-img-top" src="/assets/img/download.png" alt="Card image cap">
              <div class="home-card-body">
                <h5 class="home-card-title">류효광</h5>
                <p class="home-card-text">전자전기공학부 15</p>
                <div class="home-card-slogan">
                  <p>"결혼조하"</p>
                </div>
              </div>
            </div>

         </div>
         <div class="col-md-4 my-4">
           <div class="home-card">
             <img class="home-card-img-top" src="/assets/img/download.png" alt="Card image cap">
             <div class="home-card-body">
               <h5 class="home-card-title">송정우</h5>
               <p class="home-card-text">컴퓨터공학과 17</p>
               <div class="home-card-slogan">
                 <p>"중 앙기모띠"</p>
               </div>
              </div>
           </div>

         </div>
       </div>
    <div class="row align-items-center">
         <div class="col-md-4 my-4">
           <div class="home-card">
             <img class="home-card-img-top" src="/assets/img/download.png" alt="Card image cap">
             <div class="home-card-body">
               <h5 class="home-card-title">심지선</h5>
               <p class="home-card-text">경영학과 17</p>
               <div class="home-card-slogan">
                 <p>"이 편지는 19세기 영국에서부터 시작되어..."</p>
               </div>
             </div>
           </div>

         </div>
         <div class="col-md-4 my-4">
           <div class="home-card">
             <img class="home-card-img-top" src="/assets/img/download.png" alt="Card image cap">
             <div class="home-card-body">
               <h5 class="home-card-title">이승규</h5>
               <p class="home-card-text">컴퓨터공학과 15</p>
               <div class="home-card-slogan">
                 <p>"이시대 최고의 위트가이"</p>
               </div>
             </div>
           </div>

         </div>
         <div class="col-md-4 my-4">
           <div class="home-card">
             <img class="home-card-img-top" src="/assets/img/download.png" alt="Card image cap">
             <div class="home-card-body">
               <h5 class="home-card-title">홍동우</h5>
               <p class="home-card-text department">전자전기공학부 17</p>
               <div class="home-card-slogan">
                 <p>"아영아 난 너밖에 없다."</p>
               </div>
             </div>
           </div>

         </div>
       </div>
       <div class="row align-items-center">
         <div class="col-md-6 offset-md-3 my-4">
            <div class="home-card" >
              <div class="card-body member-card">
                <h4 class="card-title">Who's Next?</h4>
                <h6 class="home-card-subtitle mb-2 text-muted">중앙대학교 LIKELION</h6>
                <p class="memo">"많이 지원해 주세요!"</p>
              </div>
               <div class="card-footer">
                 <a href="https://www.facebook.com/LikelionCAU/" class="card-link"><i class="xi-facebook-official xi-3x"></i></a>
                 <a href="https://likelion.net/" class="card-link"><i class="xi-emoticon-cool xi-3x"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
