
  <section class="home-logo">
    <div class="home-typestyle">
      <pre id="typewriter">
            <span class="home-var-highlight">var</span> likelion = {
                name: <span class="home-string-highlight">'You'</span>,
                type: <span class="home-string-highlight">'Programmer'</span>,
                location: <span class="home-string-highlight">'ChungAng University'</span>,
                properties:[<span class="home-string-highlight">'Anyone'</span>,
                            <span class="home-string-highlight">'Passion'</span>,
                            <span class="home-string-highlight">'Possible'</span>];
            };
        </pre>
    </div>
  </section>



<div class="container">
  <section>
      <div class="container">

          <blockquote class="home-blq">
            <h3>2018 중앙대학교 멋쟁이 사자처럼</h3>
          </blockquote>

        <h1 class="home-page-heading">First Page</h1>
        <br><br /><br />
        <h1>1.UI 애니메이션요소</h1>
        <br />
      </div>
  </section>


  <section>
      <div class="container">
          <h1>Here is some more content</h1>
      </div>
  </section>
  <section>
      <div class="container">
          <h1>Here is some more content</h1>
      </div>
  </section>
</div>


<section id="managers">
   <div class="container text-center py-5">
      <h1 style="font-family: 'Quicksand', sans-serif;">CAU-LION MANAGERS</h1>
      <hr>
      <div class="row align-items-center">
         <div class="col-md-4 my-4">
            <div class="home-card" id="민경">
              <img class="home-card-img-top" src="/assets/img/download.png" alt="Card image cap">
              <div class="home-card-body">
                <span style="float: none;" class="badge badge-pill badge-warning">회장님</span>
                <h5 class="home-card-title">강민경</h5>
                <p class="home-card-text">응용통계학과 18</p>
                <div class="home-card-slogan">
                  <p>"다비치가 부릅니다.8282"</p>
                </div>
              </div>

            </div>

         </div>
         <div class="col-md-4 my-4">
            <div class="home-card">
              <img class="home-card-img-top" src="/assets/img/download.png" alt="Card image cap">
              <div class="home-card-body">
                <h5 class="home-card-title">류효광</h5>
                <p class="home-card-text">전자전기공학부 15</p>
                <div class="home-card-slogan">
                  <p>"결혼조하"</p>
                </div>
              </div>
            </div>

         </div>
         <div class="col-md-4 my-4">
           <div class="home-card">
             <img class="home-card-img-top" src="/assets/img/download.png" alt="Card image cap">
             <div class="home-card-body">
               <h5 class="home-card-title">송정우</h5>
               <p class="home-card-text">컴퓨터공학과 17</p>
               <div class="home-card-slogan">
                 <p>"중 앙기모띠"</p>
               </div>
              </div>
           </div>

         </div>
       </div>
    <div class="row align-items-center">
         <div class="col-md-4 my-4">
           <div class="home-card">
             <img class="home-card-img-top" src="/assets/img/download.png" alt="Card image cap">
             <div class="home-card-body">
               <h5 class="home-card-title">심지선</h5>
               <p class="home-card-text">경영학과 17</p>
               <div class="home-card-slogan">
                 <p>"이 편지는 19세기 영국에서부터 시작되어..."</p>
               </div>
             </div>
           </div>

         </div>
         <div class="col-md-4 my-4">
           <div class="home-card">
             <img class="home-card-img-top" src="/assets/img/download.png" alt="Card image cap">
             <div class="home-card-body">
               <h5 class="home-card-title">이승규</h5>
               <p class="home-card-text">컴퓨터공학과 15</p>
               <div class="home-card-slogan">
                 <p>"쌰럽. 펔유"</p>
               </div>
             </div>
           </div>

         </div>
         <div class="col-md-4 my-4">
           <div class="home-card">
             <img class="home-card-img-top" src="/assets/img/download.png" alt="Card image cap">
             <div class="home-card-body">
               <h5 class="home-card-title">홍동우</h5>
               <p class="home-card-text department">전자전기공학부 17</p>
               <div class="home-card-slogan">
                 <p>"아영아 난 너밖에 없다."</p>
               </div>
             </div>
           </div>

         </div>
       </div>
       <div class="row align-items-center">
         <div class="col-md-6 offset-md-3 my-4">
            <div class="home-card" >
              <div class="card-body member-card">
                <h4 class="card-title">Who's Next?</h4>
                <h6 class="home-card-subtitle mb-2 text-muted">중앙대학교 LIKELION</h6>
                <p class="memo">"많이 지원해 주세요!"</p>
              </div>
               <div class="card-footer">
                 <a href="https://www.facebook.com/LikelionCAU/" class="card-link"><i class="xi-facebook-official xi-3x"></i></a>
                 <a href="https://likelion.net/" class="card-link"><i class="xi-emoticon-cool xi-3x"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<script>


</script>
