
  <section class="first">
    <div class="typestyle">
      <pre id="typewriter">
            <span class="var-highlight">var</span> likelion = {
                name: <span class="string-highlight">'You'</span>,
                type: <span class="string-highlight">'Programmer'</span>,
                location: <span class="string-highlight">'ChungAng University'</span>,
                properties:[<span class="string-highlight">'Anyone'</span>,
                            <span class="string-highlight">'Passion'</span>,
                            <span class="string-highlight">'Possible'</span>];
            };
        </pre>
    </div>
  </section>


<div class="container">
  <section id="services">
      <div class="container">
        <h1 class="text-center page-heading">First Page</h1>
        <br><br /><br />
        <h1>1.UI 애니메이션요소</h1>
        <br />
        <h1>2.운영진소개</h1>
        <br />
        -강민경
        -이승규
        <br>
        -심지선
        -홍동우
        <br>
        -송정우
        -류효광
      </div>
  </section>


  <section>
      <div class="container">
          <h1>Here is some more content</h1>
      </div>
  </section>
  <section>
      <div class="container">
          <h1>Here is some more content</h1>
      </div>
  </section>
</div>
