
  <section class="first">
    <div class="typestyle">
      <pre id="typewriter">
            <span class="var-highlight">var</span> likelion = {
                name: <span class="string-highlight">'You'</span>,
                type: <span class="string-highlight">'Programmer'</span>,
                location: <span class="string-highlight">'ChungAng University'</span>,
                properties:[<span class="string-highlight">'Anyone'</span>,
                            <span class="string-highlight">'Passion'</span>,
                            <span class="string-highlight">'Possible'</span>];
            };
        </pre>
    </div>
  </section>


<div class="container">
  <section id="services">
      <div class="container">
        <h1 class="text-center page-heading">First Page</h1>
        <br><br /><br />
        <h1>1.UI 애니메이션요소</h1>
        <br />
      </div>
  </section>


  <section>
      <div class="container">
          <h1>Here is some more content</h1>
      </div>
  </section>
  <section>
      <div class="container">
          <h1>Here is some more content</h1>
      </div>
  </section>
</div>


<section id="managers">
   <div class="container text-center py-5">
      <h1 style="font-family: 'Quicksand', sans-serif;">CAU-LION MANAGERS</h1>
      <hr>
      <div class="row align-items-center">
         <div class="col-md-4 my-4">
            <div class="card">
            <div class="card" id="민경">
              <img class="card-img-top" src="/assets/img/download.png" alt="Card image cap">
              <div class="card-body overlay">
                <span style="float: none;" class="badge badge-pill badge-warning">회장님</span>
                <h5 class="card-title">강민경</h5>
                <p class="card-text">응용통계학과 18</p>
              </div>
            </div>
            <div class="card card-text" id="slogan">
              <h4>"다비치가 부릅니다.8282"</h4>
            </div>
         </div>
         <div class="col-md-4 my-4">
            <div class="card">
              <img class="card-img-top" src="/assets/img/download.png" alt="Card image cap">
              <div class="card-body overlay">
                <h5 class="card-title">류효광</h5>
                <p class="card-text">전자전기공학부 15</p>
              </div>
            </div>
            <div class="card-slogan">
              <h3>"결혼조하"</h3>
            </div>
         </div>
         <div class="col-md-4 my-4">
           <div class="card">
             <img class="card-img-top" src="/assets/img/download.png" alt="Card image cap">
             <div class="card-body overlay">
               <h5 class="card-title">송정우</h5>
               <p class="card-text">컴퓨터공학과 17</p>
             </div>
           </div>
           <div class="card-slogan">
             <h3>"중 앙기모띠"</h3>
           </div>
         </div>
       </div>
    <div class="row align-items-center">
         <div class="col-md-4 my-4">
           <div class="card">
             <img class="card-img-top" src="/assets/img/download.png" alt="Card image cap">
             <div class="card-body overlay">
               <h5 class="card-title">심지선</h5>
               <p class="card-text">경영학과 17</p>
             </div>
           </div>
           <div class="card-slogan">
             <h3>"이 편지는 19세기 영국에서부터 시작되어..."</h3>
           </div>
         </div>
         <div class="col-md-4 my-4">
           <div class="card">
             <img class="card-img-top" src="/assets/img/download.png" alt="Card image cap">
             <div class="card-body overlay">
               <h5 class="card-title">이승규</h5>
               <p class="card-text">컴퓨터공학과 15</p>
             </div>
           </div>
           <div class="card-slogan">
             <h3>"쌰럽. 펔유"</h3>
           </div>
         </div>
         <div class="col-md-4 my-4">
           <div class="card">
             <img class="card-img-top" src="/assets/img/download.png" alt="Card image cap">
             <div class="card-body overlay">
               <h5 class="card-title">홍동우</h5>
               <p class="card-text department">전자전기공학부 17</p>
             </div>
           </div>
           <div class="card-slogan">
             <h3>"아영아 난 너밖에 없다."</h3>
           </div>
         </div>
       </div>
       <div class="row align-items-center">
         <div class="col-md-6 offset-md-3 my-4">
            <div class="card" >
              <div class="card-body member-card">
                <h4 class="card-title">Who's Next?</h4>
                <h6 class="card-subtitle mb-2 text-muted">중앙대학교 LIKELION</h6>
                <p class="memo">"많이 지원해 주세요!"</p>
              </div>
               <div class="card-footer">
                 <a href="https://www.facebook.com/LikelionCAU/" class="card-link"><i class="xi-facebook-official xi-3x"></i></a>
                 <a href="https://likelion.net/" class="card-link"><i class="xi-emoticon-cool xi-3x"></i></a>


               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<script>
/*
$(function(){
  var card = $('.card');
  var slogan = $('#slogan');
  card.mouseover(function(){
    slogan.fadeIn();
  });
});
$(function(){
  $('.card').mouseenter(function(){
    $('.card').css('background-color','gray');
    $('#slogan').css('display', 'block');
  });
  $('card').mouseleave(function(){
    $('.card').css('display', 'block');
    $('#slogan').css('display', 'none');
  });
});
*/

</script>
