<div class="template">
  <h1>Team<%=@teamid%></h1>
  <h4>팀구성원</h4>
  <ol>
    <% @users.each do |user| %>
    <li><%=user.name%></li>
    <% end %>
  </ol>
  <%= link_to '스터디룸으로 이동하기', posts_path(@teamid) %>
</div>
