<div class="app-template">
  <div class="user-container">
    <!-- user info -->
    <hr class="w-100 hidden-lg-up">

    <div class="user-info">
      <div class="col-12 col-lg-6 offset-lg-0 col-xl-4 d-flex flex-column">
        <span class="small mb-1 hidden-md-down"> <h3>강민경</h3></span>
        <span class="quote mb-1 font-weight-light small h-3rem of-y-auto no-scrollbar">
          TEAM 1
        </span>
        <span class="quote mb-1 font-weight-light small h-3rem of-y-auto no-scrollbar">
          응용통계학과
        </span>
      </div>
    </div>

    <!-- <i class="xi-cog xi-1x"></i> -->
      <!-- user info -->


    <section class="portfolio-experiment">
      <div class="user-container">
        <a href="/user/index">
          <span class="text">Works</span>
          <span class="line -right"></span>
          <span class="line -top"></span>
          <span class="line -left"></span>
          <span class="line -bottom"></span>
        </a>
        <a href="/user/index">
          <span class="text">Q&As</span>
          <span class="line -right"></span>
          <span class="line -top"></span>
          <span class="line -left"></span>
          <span class="line -bottom"></span>
        </a>
        <a href="/user/index">
          <span class="text">Boards</span>
          <span class="line -right"></span>
          <span class="line -top"></span>
          <span class="line -left"></span>
          <span class="line -bottom"></span>
        </a>
      </div>

    </section>
    <hr class="w-100 hidden-lg-up">







  </div>
</div>
