<div class="app-template">
  <div class="user-container">
    <!-- user info -->
    <hr class="w-100 hidden-lg-up">

    <div class="user-info">
      <div class="col-12 col-lg-6 offset-lg-0 col-xl-4 d-flex flex-column">
        <span class="small mb-1 hidden-md-down">강민경</span>
        <span class="quote mb-1 font-weight-light small h-3rem of-y-auto no-scrollbar">
          TEAM 1
        </span>
      </div>
    </div>
      <!-- user info -->
    <div class="user-info">
      <div class="col-12 col-lg-6 offset-lg-0 col-xl-4 d-flex flex-column">
        <span class="small mb-1 hidden-md-down">자기소개</span>
        <span class="quote mb-1 font-weight-light small h-3rem of-y-auto no-scrollbar">
          응용통계학과
        </span>
      </div>
    </div>
    <hr class="w-100 hidden-lg-up">
  </div>
  <div class="user-container">
    <div class="user-sub">
        <ul class="col-xl-8 nav">
            <li class="nav-item active">
              <a class="nav-link pt-3 px-2 mr-3" href="/user/index">과제</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link pt-3 px-2 mr-3" href="/user/index">질문/답변</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link pt-3 px-2 mr-3" href="/user/index">게시판</a>
            </li>
        </ul>
    </div>
    <div class="container row">
      <hr class="w-100 hidden-lg-up">
      <div class="small mt-2 col-12 col-xl-8">
        제출한 과제
      </div>
    </div>
  </div>
</div>
