<section class="team-logo">
  <!-- <div class="team-typewriter">
    <h1>WELCOME TO CAU-LION<br>
      멋쟁이 사자처럼 TEAM <%=@teamid%> 스터디방입니다.</h1>
  </div> -->
  <h4 class="firstpage">
    멋쟁이 사자처럼 <span class="sixth">6기 합격</span> 을 축하합니다!!
  </h4>
  <h4 style="text-align: center;">
      <a href="" class="typewrite" data-period="2000" data-type='[ "재건", "명승", "유림", "혜린(김)", "혜린(남)", "승완", "시현", "종혁", "민승"
      , "수진", "상무", "희성", "동규", "재준", "호설", "현희", "호영", "민정"]'>
        <span class="wrap"></span>
      </a>
    </h4>


</section>

<div class="app-template">
  <%= render 'form', post: @post %>

  <%= link_to 'Back', posts_path, class: "btn btn-outline-warning" %>
</div>
