<section class="team-logo">
  <div class="team-typewriter">
    <h1>WELCOME TO CAU-LION<br>
      멋쟁이 사자처럼 TEAM <%=@teamid%> 스터디방입니다.</h1>
  </div>
</section>

<div class="app-template">
  <%= render 'form', post: @post %>

  <%= link_to 'Back', posts_path, class: "btn btn-outline-warning" %>
</div>
