/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 pre {border: 0; background-color: transparent;}
 .template{
   margin: 10rem 5rem;
 }

 .text-center {
   text-align: center!important;
 }

 .page-heading {
   font-family: 'Open Sans', sans-serif;
 }
 .user .a:link{
   color:white;
 }
 .bg-gray-dark {
   background-color: #eceeef;
 }
 .bg-light-yellow {
   background-color: rgba(255,193,7,0.7);
 }
