//부트스트랩을 커스터마이징 하는 scss

.navbar-toggler {
  border: none;
}

.navbar-light .navbar-nav .nav-link,
.navbar-toggler {
  font-size: 0.9333333rem;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 0.21em;
  color: #ffc107;
}

.navbar-light .nav-item.active .nav-link {
  color: #ff5216;
}
/* Navbar 투명한 상태 + 스크롤하면 색 나타나게 하는 CSS - 작동된다 */
.transparent-nav { background-color: transparent;}
.transparent-nav.visible { background-color: #ffc107; }
.transparent-nav.visible .nav-item .nav-link {
  color: white;
}
