// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_show{
  margin-top: 10rem;
}

.image-upload > input
{
   display: none;
}
.image-upload > label{
  cursor:pointer;
}
#theader-manage{
  text-align: center;
}
.card-block{
  height:30rem;
  text-align: left;
  margin: 5rem;
}
