// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user{
  &-info {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  &-container {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 90px;
  }
  &-sub{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

}

.bt-gray-1 {
  border-top: 1px solid rgba(150,150,150,0.22);
}
.bg-white {
  background-color: #fff;
}

.font-weight-light {
  font-weight: 300;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
small, .small {
  font-size: 80%;
}

/* #mg {
  margin-top: 0.9rem;
} */
