// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$thick : 3px;
$pad : 0.7em;
$extra : calc(#{$pad} * 1.2);
$color : #ffc107;



.user{
  &-info {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  &-section{
    span{
       color: $color;
     }
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
  }
  &-aligner-item {
    max-width: 50%;

  }
  &-sub{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  &-section {
    background: transparent;

    a {
      color: white;
      padding: $pad $extra;
      display: inline-block;
      border: $thick solid transparent;
      position: relative;
      font-size: 1.5em;
      cursor: pointer;
      letter-spacing: 0.07em;

      .text {
        // padding: 0 0.3em;
        font-family: 'Apple SD Gothic Neo', monospace;
        transform: translate3d(0,$pad,0);
        display: block;
        transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
      }

      &:after {
        position: absolute;
        content: '';
        bottom: -$thick;
        left: $extra;
        right: $extra;
        height: $thick;
        background: $color;
        // z-index: -1;
        transition:
          transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
          right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
          left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
        transform-origin: left;
      }

    }

    .line {
      position: absolute;
      background: $color;

      &.-right,
      &.-left {
        width: $thick;
        bottom: -$thick;
        top: -$thick;
        transform: scale3d(1,0,1);
      }

      &.-top,
      &.-bottom {
        height: $thick;
        left: -$thick;
        right: -$thick;
        transform: scale3d(0,1,1);
      }

      &.-right {
        right: -$thick;
        transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
        transform-origin: top;
      }

      &.-top {
        top: -$thick;
        transition: transform 0.08s linear 0.43s;
        transform-origin: left;
      }

      &.-left {
        left: -$thick;
        transition: transform 0.08s linear 0.51s;
        transform-origin: bottom;
      }

      &.-bottom {
        bottom: -$thick;
        transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
        transform-origin: right;
      }
    }
    a:hover {
      color: #ffffff;
    }

    a:hover,
    a:active {

      .text {
        transform: translate3d(0,0,0);
        transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
      }

      &:after {
        transform: scale3d(0,1,1);
        right: -$thick;
        left: -$thick;
        transform-origin: right;
        transition:
          transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
          right 0.2s cubic-bezier(1,0,.65,1.01),
          left 0s 0.3s;
      }

      .line {
        transform: scale3d(1,1,1);

        &.-right {
          transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
          transform-origin: bottom;
        }

        &.-top {
          transition: transform 0.08s linear 0.4s;
          transform-origin: right;
        }

        &.-left {
          transition: transform 0.08s linear 0.48s;
          transform-origin: top;
        }

        &.-bottom {
          transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
          transform-origin: left;
        }
      }

    }
  }
}


.bt-gray-1 {
  border-top: 1px solid rgba(150,150,150,0.22);
}
.bg-white {
  background-color: #fff;
}

.font-weight-light {
  font-weight: 300;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
small, .small {
  font-size: 80%;
}

.login-bg {

  font-weight: 800;
  text-align: center;
  padding-top: 10rem;
  background-color: transparent;
  width: 50rem;
  height: 50rem;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%)

}
//
// .label {
//   text-align: left !important;
// }

section.login{
  background: url('/assets/img/team-bg.jpg')
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%
}

input {
  width: 25rem;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
  border: #dee2e6 solid 1px;
  border-radius: 2px;
  background-color: rgba( 255, 255, 255, 0.5 );
  font-weight: 400;
  font-size: 15px;

}

.input:focus, .select:focus {
  border: #0081FF solid 1px;
  box-shadow: none;
  outline: none
}





/* #mg {
  margin-top: 0.9rem;
} */
