<!DOCTYPE html>
<html>
  <head>
    <title lang="ko">CAU-LION :: 멋쟁이사자처럼 중앙대학교</title>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/kopubbatang.css">

    <!-- bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Jiseon's Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/custom.css" />

  </head>

  <body>

    <!-- 우리 nav bar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light transparent-nav" data-spy="affix">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        MENU
      </button>

      <h1 class="brand">
     	  <a class="navbar-brand" href="/">CAU LIKELION</a>
      </h1>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link px-lg-3" href="/"> HOME <span class="sr-only">(현재 페이지)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-lg-3" href="/contact">CONTACT</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              TEAM
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/teams/1">TEAM1</a>
              <a class="dropdown-item" href="/teams/2">TEAM2</a>
              <a class="dropdown-item" href="/teams/3">TEAM3</a>
            </div>
          </li>

        </ul>
      </div>
      <div>
        <% if user_signed_in? %>
        <p><%= current_user.name%></p>
        <a href="/users/sign_out">로그아웃</a>
        <% else %>
        <a href="/users/sign_in">로그인</a>
        <a href="/users/sign_up">회원가입</a>
        <% end %>
      </div>
      </div>
    </nav>


    <!-- //Header -->

    <!-- 노지승씨 navbar
    <nav class="navbar navbar-toggleable-md navbar-light">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        메뉴
      </button>
      <h1 class="brand">
     	  <a class="navbar-brand" href="#">시팔이하상욱</a>
      </h1>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link px-lg-3" href="#">안녕 <span class="sr-only">(현재 페이지)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-lg-3" href="#">시팔이</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-lg-3" href="#">시</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-lg-3" href="#">연락</a>
          </li>
        </ul>
      </div>
    </nav>
  -->

    <%= tinymce_assets %>

    <div class="container" id="mg">

    <div>

    </div>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>


    <!-- bootstrap CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


        <!-- Navbar 색이 변하게 해주는 쿼리 (현재 오류로 작동 X ㅋㅋ) 헤더섹션 밑으로 내려가면 네비게이션 바가 회색으로 변해야함
        <script>
            $('nav').affix({
            offset: {
              top: $('#services').offset().top
            }
        });
        </script>
      -->
        <script>
          window.addEventListener('scroll', function() {
          var el = document.querySelector('.transparent-nav');
          if(window.scrollY >= 600) el.classList.add('visible');
          else el.classList.remove('visible');
          });
        </script>
  </body>
</html>
